@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital@0;1&display=swap');

body {
  background-color: #663399;
  font-family: 'DM Sans', sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: #404040;
  margin: 0;

};

hr {
  height: 1px;
  background-color: rgba(240, 240, 240);
  border: none;
}

.dropper {
  margin: 10px 0 25px 0;
}

.URL {
  padding: 10px;
  box-sizing: border-box;
  background-color: #f8f8f8;
  border-style: none;
  border-color: 'none';
}


.appcontent {
  // margin: 100px;
  height: 100%;
  background-color: #ffffff;
  width: 350px;
  box-shadow: 10px 10px 5px -9px rgba(0,0,0,0.57);
}

.block {
  padding: 0 30px;
}

.block:first-child {
  margin-bottom: 30px;
}

.block:last-child {
  padding-bottom: 2px;
}

.flex-spacer {
  display: flex;
  justify-content: space-between;
  align-items:center;

}

.Logo {
  margin-top: 25px;
  height: 25px;
}

.italic {
  font-style: italic;
  font-size: 12px;
}